@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html, body {
    height:100%
}

body {
    font-family: 'PT Sans', sans-serif;
    background: #EB7260;
}

.main-container {
    max-width: 992px;
    min-width: 300px;
    margin: 0 auto;
    height: 100%;
    background: #FBF9F7;
    text-align: center;
    padding: 15px;
}

.btn-main {
    border-radius: 1px;
    padding: 10px;
    font-size: 25px;
}

.logo {
    font-size:30px;
    border-radius: 100%;
    background: #EB7260;
    color: #FBF9F7;
    position:absolute;
    left: 50%;
    margin-left: -486px;
    top: 10px;
    padding: 11px 10px 9px;
}

.logo:hover {
    color:#333;
}

.form-exercise {
    float: none;
    margin: 0px auto;
    text-align: left;
}

label {
    margin: 6px 0 2px;
}

@media (max-width: 1024px) {

  .logo {
    left: 25px;
    margin-left: 0;
  }

}